* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --crumbs-edit-bg: #f4f4f4;
  --crumbs-edit-overlay: rgba(0, 0, 0, 0.4);
  --crumbs-edit-cta-bg: #dcdcdc;
  --crumbs-toggle-bg-color: #ffffff;
  --crumbs-toggle-switch-bg: #858585;
  --crumbs-toggle-checked-bg: #e0e0e0;
  --crumbs-toggle-border-color: #dddddd;
  --crumbs-toggle-switch-focus-border-color: #636363;
}
body {
  display: flex;
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  flex-direction: column;
  min-height: 100vh;
}
article {
  padding: 0 20px;
}
article p + p {
  margin-top: 12px;
}
.crumbs-banner {
  border: 1px solid;
  border-radius: 4px;
  bottom: 5%;
  left: 50%;
  margin: auto;
  max-width: 1240px;
  position: fixed;
  padding: 1rem;
  transform: translateX(-50%);
  width: 95%;
}

.crumbs-edit {
  background-color: var(--crumbs-edit-bg);
  border-radius: 8px;
  left: 50%;
  max-width: 600px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 99;
}

.crumbs-overlay::before {
  background-color: var(--crumbs-edit-overlay);
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.crumbs-edit-close {
  margin-top: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 8px;
}

.crumbs-edit__section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 24px;
}

.crumbs-edit__description {
  margin-top: 8px;
}

.crumbs-edit__container {
  padding: 16px 16px 60px 16px;
}

.crumbs-edit__block {
  flex: 0 1 75%;
}

.crumbs-edit__block p {
  margin-top: 4px;
}

.crumbs-edit__content {
  height: calc(100vh - 140px);
  max-height: 550px;
  overflow: auto;
  position: static;
}

.crumbs-edit__text {
  font-size: 14px;
}

.crumbs-edit__cta {
  background-color: var(--crumbs-edit-cta-bg);
  bottom: 0;
  left: 0;
  padding: 12px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.crumbs__hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.crumbs__sr {
  border: 0;
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.crumbs-banner__title {
  font-size: 20px;
}

.crumbs-banner__description {
  margin-top: 8px;
}

.crumbs-checkbox {
  height: 0;
  visibility: hidden;
  position: absolute;
  width: 0;
}

.crumbs-toggle__checkbox {
  background: var(--crumbs-toggle-switch-bg);
  border-radius: 40px;
  display: block;
  height: 35px;
  position: relative;
  width: 62px;
  cursor: pointer;
}

.crumbs-toggle__checkbox--required {
  cursor: not-allowed;
  opacity: 0.5;
}

.crumbs-toggle__checkbox::after {
  background: var(--crumbs-toggle-bg-color);
  border-radius: 24px;
  content: "";
  height: 25px;
  left: 5px;
  position: absolute;
  top: 5px;
  transition: 0.3s ease-in-out;
  width: 25px;
}

.crumbs-checkbox + label {
  background-color: var(--crumbs-toggle-switch-bg);
}

.crumbs-checkbox:focus + label {
  outline: 2px solid var(--crumbs-toggle-switch-focus-border-color);
  outline-offset: 2px;
}

.crumbs-checkbox:checked + label {
  background-color: var(--crumbs-toggle-checked-bg);
}

.crumbs-checkbox:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.crumbs-toggle__label {
  font-size: 12px;
  margin: 0 0.5em 0;
  cursor: pointer;
}

.crumbs-toggle__wrapper {
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 32px;
  border-radius: 40px;
  border: 1px solid var(--crumbs-toggle-border-color);
  position: relative;
}

@media screen and (min-width: 900px) {
  .crumbs-banner {
    align-items: center;
    flex-direction: row;
  }

  .crumbs-banner__content {
    flex: 0 1 40%;
  }

  .crumbs-edit__container {
    padding: 40px 40px 60px 40px;
  }

  .crumbs-banner button {
    margin: 0 4px;
  }

  .crumbs-edit-close {
    right: 16px;
    top: 16px;
  }
}

@media screen and (min-width: 1100px) {
  .crumbs-banner__content {
    flex: 0 1 50%;
  }
}

@media screen and (min-width: 1300px) {
  .crumbs-banner__content {
    flex: 0 1 60%;
  }
}
