* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
  min-height: 100vh;
}

button {
  appearance: none;
  background-color: whitesmoke;
  box-shadow: none;
  border: 1px solid gainsboro;
  border-radius: 4px;
  font: inherit;
  padding: 1rem;
  max-width: 250px;
}

.crumbs-banner {
  background-color: #fafafa;
  border-top: 1px solid #cacaca;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  padding: 2rem;
  position: fixed;
  width: 100%;
}

.crumbs-banner button {
  color: #333;
  margin-top: 12px;
  padding: 0.8rem 1rem;
  text-decoration: none;
}

.crumbs-edit {
  background-color: #f4f4f4;
  border-radius: 8px;
  left: 50%;
  max-width: 700px;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 99;
}

.crumbs-edit * + * {
  margin-top: 12px;
}

.crumbs-overlay::before {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.crumbs-edit-close {
  margin-top: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 8px;
}

.crumbs-banner__title {
  font-size: 20px;
}

.crumbs-banner__description {
  margin-top: 8px;
}

.accepted-cookies {
  align-items: center;
  display: flex;
  list-style-type: none;
  justify-content: center;
  text-align: center;
}

.accepted-cookies li {
  background-color: ghostwhite;
  margin: 0 4px;
  max-width: 150px;
  padding: 12px;
}

article p + p {
  margin-top: 16px;
}

.crumbs-checkbox + label {
  align-items: flex-start;
  display: inline-flex;
  line-height: 1.4;
  position: relative;
}

.crumbs-checkbox-hidden {
  opacity: 0;
  position: absolute;
}

.crumbs-checkbox + label::before {
  border: 1px solid gray;
  border-radius: 2px;
  content: '';
  display: inline-block;
  height: 24px;
  margin-right: 12px;
  position: relative;
  top: calc((1em * 1.2 - 24px) / 2);
  width: 24px;
}
.crumbs-checkbox:checked + label::after {
  background: rgb(37, 37, 37);
  box-shadow: 2px 0 0 rgb(37, 37, 37), 4px 0 0 rgb(37, 37, 37),
    4px -2px 0 rgb(37, 37, 37), 4px -4px 0 rgb(37, 37, 37),
    4px -6px 0 rgb(37, 37, 37), 4px -8px 0 rgb(37, 37, 37);
  content: '';
  height: 2px;
  left: 8px;
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
  width: 2px;
}

.crumbs-checkbox:focus + label,
.crumbs-checkbox:active + label {
  outline: 4px solid black;
  outline-offset: 2px;
}

@media screen and (min-width: 900px) {
  .crumbs-banner {
    align-items: center;
    flex-direction: row;
  }

  .crumbs-banner__content {
    flex: 0 1 60%;
  }

  .crumbs-banner button {
    margin: 0 8px;
  }

  .crumbs-edit {
    padding: 40px;
  }

  .crumbs-edit__content {
    padding-right: 4rem;
  }

  .crumbs-edit-close {
    right: 16px;
    top: 16px;
  }
}
