button {
  appearance: none;
  background-color: whitesmoke;
  box-shadow: none;
  border: 1px solid gainsboro;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  padding: 1rem;
  max-width: 250px;
}

.crumbs-banner {
  background-color: #fafafa;
  border-top: 1px solid #cacaca;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  padding: 2rem;
  position: fixed;
  width: 100%;
}

.crumbs-banner button {
  color: #333;
  margin-top: 12px;
  padding: 0.8rem 1rem;
  text-decoration: none;
}

.crumbs-edit {
  background-color: #f4f4f4;
  border-radius: 8px;
  left: 50%;
  max-width: 700px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 99;
}

.crumbs-overlay::before {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.crumbs-edit-close {
  margin-top: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 8px;
}

.crumbs-edit__section {
  border: 1px solid #d0d4d5;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 24px;
}

.crumbs-edit__description {
  margin-top: 12px;
}

.crumbs-edit__container {
  padding: 20px 20px 100px 20px;
}

.crumbs-edit__block {
  flex: 0 1 75%;
}

.crumbs-edit__block p {
  margin-top: 12px;
}

.crumbs-edit__content {
  position: static;
  max-height: 500px;
  overflow: auto;
}

.crumbs-edit__block p {
  font-size: 14px;
}

.crumbs-edit__cta {
  background-color: gainsboro;
  bottom: 0;
  left: 0;
  padding: 12px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.crumbs-banner__title {
  font-size: 20px;
}

.crumbs-banner__description {
  margin-top: 8px;
}

.crumbs-toggle label {
  font-size: 12px;
  margin: 0 0.5em 0;
  cursor: pointer;
}

.crumbs-toggle input[type='radio'] {
  display: inline-block;
  margin-right: -2px;
  width: 50%;
  height: 100%;
  opacity: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.crumbs-toggle input[type='radio']:focus ~ .crumbs-toggle__switcher {
  border: 3px solid #a8a8a8;
  top: 0px;
}

.crumbs-toggle__wrapper {
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #ddd;
  position: relative;
}

.crumbs-toggle__switcher {
  display: block;
  position: absolute;
  top: 0;
  left: 1px;
  right: 100%;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-color: #858585;
  transition: all 0.1s ease-out;
  z-index: 2;
}

.crumbs-toggle__background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 30px;
  transition: all 0.4s ease-out;
}

.crumbs__hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#on:checked ~ .crumbs-toggle__switcher {
  right: 0px;
  left: 48%;
}

#on:checked ~ .crumbs-toggle__background {
  background-color: #e0e0e0;
}

@media screen and (min-width: 900px) {
  .crumbs-banner {
    align-items: center;
    flex-direction: row;
  }

  .crumbs-banner__content {
    flex: 0 1 60%;
  }

  .crumbs-edit__container {
    padding: 40px 40px 100px 40px;
  }

  .crumbs-edit__section {
    align-items: center;
  }

  .crumbs-banner button {
    margin: 0 8px;
  }

  .crumbs-edit-close {
    right: 16px;
    top: 16px;
  }
}
