:root {
  --edit-crumbs-bg: #f4f4f4;
  --edit-crumbs-overlay: rgba(0, 0, 0, 0.4);
  --edit-crumbs-cta-bg: gainsboro;
  --crumbs-toggle-switch-bg: #858585;
  --crumbs-toggle-checked-bg: #e0e0e0;
  --crumbs-toggle-border-color: #dddddd;
  --crumbs-toggle-switch-focus-border-color: #a8a8a8;
}

.crumbs-banner {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  max-width: 1140px;
  position: fixed;
  width: 100%;
}

.crumbs-edit {
  background-color: var(--edit-crumbs-bg);
  border-radius: 8px;
  left: 50%;
  max-width: 600px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 99;
}

.crumbs-overlay::before {
  background-color: var(--edit-crumbs-overlay);
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.crumbs-edit-close {
  margin-top: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 8px;
}

.crumbs-edit__section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 24px;
}

.crumbs-edit__description {
  margin-top: 8px;
}

.crumbs-edit__container {
  padding: 16px 16px 100px 16px;
}

.crumbs-edit__block {
  flex: 0 1 75%;
}

.crumbs-edit__block p {
  margin-top: 4px;
}

.crumbs-edit__content {
  position: static;
  max-height: 600px;
  overflow: auto;
}

.crumbs-edit__text {
  font-size: 14px;
}

.crumbs-edit__cta {
  background-color: var(--edit-crumbs-cta-bg);
  bottom: 0;
  left: 0;
  padding: 12px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.crumbs-banner__title {
  font-size: 20px;
}

.crumbs-banner__description {
  margin-top: 8px;
}

.crumbs-toggle__label {
  font-size: 12px;
  margin: 0 0.5em 0;
  cursor: pointer;
}

.crumbs-toggle__radio {
  display: inline-block;
  margin-right: -2px;
  width: 50%;
  height: 100%;
  opacity: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.crumbs-toggle__radio:focus ~ .crumbs-toggle__switcher {
  border: 1px solid var(--crumbs-toggle-switch-focus-border-color);
  top: 4px;
}

.crumbs-toggle__wrapper {
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 32px;
  border-radius: 40px;
  border: 1px solid var(--crumbs-toggle-border-color);
  position: relative;
}

.crumbs-toggle__switcher {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 100%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--crumbs-toggle-switch-bg);
  transition: all 0.2s ease-out;
  z-index: 2;
}

.crumbs-toggle__background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 30px;
  transition: all 0.4s ease-out;
}

.crumbs__hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.crumbs-toggle__radio--on:checked ~ .crumbs-toggle__switcher {
  right: 0px;
  left: 52%;
}

.crumbs-toggle__radio--on:checked ~ .crumbs-toggle__background {
  background-color: var(--crumbs-toggle-checked-bg);
}

@media screen and (min-width: 900px) {
  .crumbs-banner {
    align-items: center;
    flex-direction: row;
  }

  .crumbs-banner__content {
    flex: 0 1 40%;
  }

  .crumbs-edit__container {
    padding: 40px 40px 100px 40px;
  }

  .crumbs-banner button {
    margin: 0 4px;
  }

  .crumbs-edit-close {
    right: 16px;
    top: 16px;
  }
}

@media screen and (min-width: 1100px) {
  .crumbs-banner__content {
    flex: 0 1 50%;
  }
}

@media screen and (min-width: 1300px) {
  .crumbs-banner__content {
    flex: 0 1 60%;
  }
}
