.accepted-cookies {
  align-items: center;
  display: flex;
  list-style-type: none;
  justify-content: center;
  text-align: center;
}

.accepted-cookies li {
  background-color: ghostwhite;
  margin: 0 4px;
  max-width: 150px;
  padding: 12px;
}
